html
  head
    meta(charset='UTF-8')
    link(rel='stylesheet', href='/css/main.css')
    title Home
  body
    div(align='center')
      h1 Create a Room
      p(style='color: red')= err

      form(method='post', action='/create', enctype='multipart/form-data')
        h3 Title
        br
        input(type='text', name='title')

        br
        br

        h3 Background image
        br
        input(type='file', name='background')

        br
        br

        h3 Description
        br
        textarea(name='description')

        br
        br

        h3 Type
        br
        select(name='status')
          option(value='public') Public
          option(value='random') Random
          option(value='private') Private

        br
        br

        h3 Room key
        br
        input(type='password', name='key')

        br
        br

        button(type='submit', value='submit') Submit
