html
  head
    meta(charset='utf-8')
    link(rel='stylesheet', href='/css/main.css')
    title register
  body
    div(align='center')
      form(method='post', enctype='multipart/form-data' action='/register')
        h1 Register
        p.error#err!= err

        br
        br

        h3 Username
        input(type='text', name='username' required)

        br

        h3 Password
        input(type='password', name='password', id='pass1' required)

        br

        h3 Re enter password
        input(type='password', name='password2', id='pass2' required)

        br
        br
        br

        input(type='file', name='Avatar')

        br
        br

        h3 Description
        textarea(name='description')

        br
        br

        button(type='submit', value='submit') Submit
