html
  head
    meta(charset='utf-8')
    link(rel='stylesheet', href='css/main.css')
    title register
  body
    div(align='center')
      form(method='post', action='/register')
        h1 Register
        p.error= err

        br
        br

        h3 Username
        input(type='text', name='username')

        br

        h3 Password
        input(type='password', name='password')

        br

        h3 Description
        textarea(name='description')

        br
        br

        button(type='submit', value='submit') Submit
