doctype html
html
  head
    meta(charset='UTF-8')
    link(rel='stylesheet', href='/css/main.css')
    title 404
  body
    div(align='center')
      h2 There is currently no user with the username "#{ err }" in our database.
      a(href='/register') Click here to register this username
